html, body {
    margin: 0px;
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-size: 12px;
    background-color: #f6f6f6;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #00A08A;
    color: white;
    padding: 20px;
    font-size: 160%;
}

.header-help {
    float: right;
    text-shadow: rgb(3, 3, 3) 0px 2px 4px;
    cursor: pointer;
}

.logo {
    max-width: 30px;
    vertical-align: middle;
}

.header-name {
    margin-left: 10px;
}

.content {
    padding: 20px 15px 25px 20px;
    max-width: 1024px;
    margin: 15px auto;
    background-color: white;
}

h1 {
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-size: 130%;
    text-decoration: underline;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.offers {
}

.offer {
    padding: 20px 0px 15px 0px;
}

.offer-subtitle {
    margin: 5px 0px 3px 0px;
    padding: 0;
    font-style: italic;
}

.offer-label-name {
    min-width: 75px;
    display: inline-block;
}

.offer-profile-title {
    margin: 5px 0px 3px 0px;
}

.button-container {
    padding: 15px 0px 15px 0px;
}

.button {
    cursor: pointer;
    border: solid 1px #00A08A;
    color: #00A08A;
    padding: 5px;
    font-size: 120%;
    background-color: white;
    box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
    transition: background-color 0.2s, box-shadow 0.2s;
    text-decoration: none;
}

.button:hover {
    background-color: #00A08A;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.button.toggled {
    box-shadow: none;
    background-color: #00A08A;
    color: white;
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
}

.button.toggled:hover {
    background-color: #00b69f;
}



.more-container img {
    max-width: 30px;
    cursor: pointer;
}

.offer-vertical-separator {
    min-height: 1px;
    min-width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

/*FORMS*/

input {
    border: solid 1px #00A08A;
    padding: 5px;
}

.form-block {
    font-size: 140%;
    padding: 5px 0px 5px 0px;
    border-bottom: solid 1px #e3e3e3;
}

.form-block label {
    font-weight: bold;
}

.block {
    background-color: white;
    overflow-y: auto;
}

.block-title {
    border-bottom: solid 1px #e3e3e3;
    padding: 15px;
    font-size: 150%;
}

.block-content {
    padding: 15px;
}


.popup-base {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    position: fixed;
    cursor: pointer;
    display: none;
}

.popup {
    position: fixed;
    left: 25%;
    right: 25%;
    bottom: 10%;
    top: 10%;
    background-color: white;
    display: none;
}

.stats-title {
    font-size: 130%;
    text-align: center;
    font-style: italic;
}

.stats-attr {
    font-size: 170%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .popup {
        left: 5%;
        right: 5%;
    }
}

.popup-open {
    display: block;
}

.title {
    font-size: 150%;
}