<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>peix</title>
    <link rel="icon" type="image/png" href="images/logo.png">
</head>
<body>
    <header>
        <img src="images/logo.png" class="logo">
        <span class="header-name">peix</span>
        <span class="header-help" ng-click="showHelpPopup=true">?</span>
    </header>
    <div class="content">

        <div class="button-container">
            <a class="left button" ng-class="{'toggled': filtersVisible}" ng-click="filtersVisible = !filtersVisible; clearFilters()">Filtros</a>
            <a class="right button" target="_blank" href="https://www.inf.upv.es/int/peix/empresa/empresa.php">Publicar oferta</a>
            <a class="right button" style="margin-right: 3px" ng-click="showSavedOffersPopup = !sjpwSavedOffersPopup">Ofertas guardadas</a>
            <a class="right button" style="margin-right: 3px" ng-click="showStatsPopup = !showStatsPopup">Estadísticas</a>
            <div class="clear"></div>
        </div>

        <div ng-show="filtersVisible" style="margin-bottom: 25px">
            <div class="form-block">
                <label>Bolsa mínima: </label><input ng-model="filters.minPay" size="4" type="text">€
            </div>
            <div class="form-block">
                <label>Duración: </label>desde <input size="2" type="text" ng-model="filters.minMonths"> hasta <input ng-model="filters.maxMonths" size="2" type="text"> meses
            </div>
            <div class="form-block">
                <label>Horas por día: </label>desde <input ng-model="filters.minHours" size="2" type="text"> hasta <input ng-model="filters.maxHours" size="2" type="text"> horas
            </div>
        </div>

        <h1>Listado de ofertas</h1>

        <div style="text-align: center" ng-if="isLoading()">Cargando...</div>
        <div class="offers">
            <div ng-repeat="offer in getFilteredOffers()">
                <offer offer-data="offer"></offer>
                <div class="offer-vertical-separator" style="clear: both"></div>
            </div>

            <div style="clear: both"></div>

        </div>

    </div>

    <div class="popup-base" ng-class="{'popup-open': showSavedOffersPopup}" ng-click="showSavedOffersPopup=false"></div>
    <div class="popup block" ng-class="{'popup-open': showSavedOffersPopup}">
        <div class="block-title">Ofertas guardadas</div>
        <div class="block-content">
            <div style="text-align: center" ng-show="!getSavedOffers().length">
                No tienes ofertas guardadas.
            </div>
            <div ng-repeat="offer in getSavedOffers()">
                <offer offer-data="offer"></offer>
                <div class="offer-vertical-separator" style="clear: both"></div>
            </div>
        </div>
    </div>

    <div class="popup-base" ng-class="{'popup-open': showStatsPopup}" ng-click="showStatsPopup=false"></div>
    <div class="popup block" ng-class="{'popup-open': showStatsPopup}">
        <div class="block-title">Estadísticas</div>
        <div class="block-content">
            <div class="stats-title">Bolsa media</div>
            <div class="stats-attr">{{getAveragePay() | number : 2}}€/mes</div>

            <div class="stats-title">Pago medio por hora</div>
            <div class="stats-attr">{{getAveragePayPerHour() | number : 2}}€/hora</div>
        </div>
    </div>

    <div class="popup-base" ng-class="{'popup-open': showHelpPopup}" ng-click="showHelpPopup=false"></div>
    <div class="popup block" ng-class="{'popup-open': showHelpPopup}">
        <div class="block-title">Acerca de</div>
        <div class="block-content">
            <div>
                <p><i>peix</i> es un proyecto que tiene como fin actualizar la <a href="https://www.inf.upv.es/int/peix/">plataforma oficial</a> de la Escuela Técnica Superior de Ingeniería Informática de la Universidad Politécnica de Valencia que sirve a alumnos para encontrar prácticas en empresas.</p>

                <p>El objetivo es adaptar la web a los nuevos estándares, facilitar la navegación y el acceso desde dispositivos móviles.</p>

                <p>Actualmente esta web sólo permite visualizar las ofertas, si quieres publicar una nueva o inscribirte en alguna deberás ir a la <a href="https://www.inf.upv.es/int/peix/">web oficial</a>.</p>
            </div>
            <div class="title">Contacto</div>
            <p>
                contact@peix.info
            </p>
            <div class="title">Créditos</div>
            <div>
                <p>Programación y diseño: Rafael González Carrizo</p>
                <p>Iconos diseñados por <a href='http://www.freepik.com/free-vector/fish-icons-collection_1069735.htm'>Freepik</a></p>
            </div>
            <div class="title">Tecnología y código</div>
            <div>
                <p>peix está desarrollado con AngularJS y PHP. Utiliza una base de datos Redis para almacenar las ofertas.</p>
                <p>Puedes acceder al código desde el repositorio de <a href="https://bitbucket.org/RafaG/peix">Bitbucket</a>.</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.js"></script>
    <script src="app.js"></script>
    <script src="common/directives/offer/offer.js"></script>
</body>
</html>

